* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*
    background-size: cover;
    background-color: #202020;
*/
}

nav,
header,
main,
.info-section,
.news,
.index {
    display: block;
    overflow: auto;
}

nav {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 15px;
    z-index: 100;
    background-color: black;
    color: white;
}

nav ul {
    float: right;
    list-style;
    none;
}

nav li {
    display: inline-block;
}

header {}

header h1 {
    padding-top: 70px;
    font-size: 4rem;
    text-align: center;
}

header h2 {
    max-width: 1000px;
    margin: 0 auto;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}


.info-section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.info-section div {
    height: 200px;
}

.info-section .icon-container {
    border: 1px solid black;
}

.news {
    padding-top: 60px;
}

.news .reading-list {
    border: 1px solid black;
    padding: 15px;
}

.news .reading-list ol {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.news .reading-list ol button {
    float: right;
    font-size: .5rem;
}

.news .reading-list ol button:hover {
    text-decoration: underline;
}

.news .reading-list input,
.news .reading-list form button {
    border: 1px solid black;
    display: inline;
}

.news .reading-list input {
    width: 100%;
}

.news .news-container {
    border: 1px solid black;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.news .news-container .source {
    margin-top: 20px;
}

.news .news-container ul {
    list-style: none;
}

.index img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

.index .meter {
    width: 20%;
}

footer {
    text-align: center;
    position: relative;
    clear: both;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer li {
    display: inline;
}
