* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

body {
    font-size: 16px;
}

nav,
header,
main,
.info-section,
.news,
.reading-list-full-page,
.index {
    display: block;
    overflow: auto;
}

nav {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 15px;
    z-index: 100;
    background-color: black;
    color: white;
}

nav h3 {
    font-family: 'Cormorant SC', serif;
    font-size: 1.5rem;
}

nav h3:hover {
    cursor: pointer;
}

nav h3 span {
    font-weight: 900;
}

nav h3 .red {
    /*    color: #EA1821;*/
    text-shadow: -2px 0 #EA1821, 0 2px #EA1821, 2px 0 #EA1821, 0 -2px #EA1821;
}

nav h3 .blue {
    /*    color: #000EA6;*/
    text-shadow: -2px 0 #000EA6, 0 2px #000EA6, 2px 0 #000EA6, 0 -2px #000EA6;
}

nav h3,
nav ul {
    display: inline-block;
}

nav ul {
    float: right;
    list-style: none;
}

nav li {
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    padding-right: 15px;
}

nav li a {
    text-decoration: none;
    color: white;
}

nav li a:hover {
    text-decoration: underline;
    color: #0083D0;
}

nav li a span {
    border-radius: 15px;
    background-color: #EA1821;
    padding-left: 4px;
    padding-right: 7px;
}

header {
    position: relative;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.5)), url(images/newspaper-background.jpeg) center center fixed;
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgba(0, 0, 0, .5);
}

header .header-text {
    margin-top: 150px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    font-size: 4rem;
    text-align: center;
    font-family: 'Cormorant SC', serif;
    font-weight: normal;
}

header h1 span {
    font-family: 'Rye', cursive;
}

header h1 .blue {
    color: #000EA6;
}

header h1 .red {
    color: #EA1821;
}

.info-section {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    max-width: 1000px;
    margin: 0 auto;
}

.info-section h2 {
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-weight: normal;
    font-size: 1.2rem;
    padding-top: 10px;
    padding-bottom: 30px;
}

/*
.info-section p {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: .9rem;
}
*/

.info-section div {
    /*    height: 230px;*/
}

.info-section .placeholder {
    color: rgba(255, 255, 255, 1.0);
    font-size: .1rem;
}

.info-section .icon-container {
    background-color: #006099;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 230px;
}

.info-section .icon-container i {
    font-size: 3.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.info-section .icon-container h3 {
    font-size: 1.7rem;
    font-weight: normal;
}

.info-section button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    background-color: #07A0FB;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.info-section button:hover {
    cursor: pointer;
}

.news {
    padding-top: 60px;
    width: 90%;
    margin: 0 auto;
}

.news h2 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    margin-bottom: 40px;
    margin-top: 40px;
}

.news .reading-list {
    padding: 15px;
    background-color: #6ebef4;
    margin-bottom: 20px;
}

.news .reading-list h3 {
    font-size: 1.2rem;
    text-align: center;
}

.news .reading-list ol {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Arimo', sans-serif;
}

.news .reading-list ol li {
    padding-top: 8px;
    padding-bottom: 8px;
}

.news .reading-list ol li:hover {
    color: #0083D0;
    cursor: pointer;
}

.news .reading-list ol i {
    float: right;
    font-size: .6rem;
    color: black;
}

.news .reading-list ol i:hover {
    font-size: 1rem;
}

.news .reading-list ol p {
    font-size: .7rem;
}

.news .reading-list form {
    font-family: 'Arimo', sans-serif;
}

.news .reading-list form p {
    font-size: .7rem;
    padding-top: 5px;
}

.news .reading-list input,
.news .reading-list form button {
    border: 1px solid black;
    display: inline;
    width: 100%;
    padding: 3px;

}

.news .reading-list input {
    font-size: .8rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

.news .news-container {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.news .news-container .source {
    padding-top: 20px;
    height: 350px;
    background-color: #F9F8F4;
    margin-bottom: 20px;
    margin-right: 1%;
}

.news .news-container .source h5 {
    padding-bottom: 10px;
}

.news .news-container .source ul {
    list-style: none;
    font-family: 'Arimo', sans-serif;
}

.news .news-container .source ul li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.news .news-container .source ul li a {
    text-decoration: none;
    color: black;
}

.news .news-container .source ul li button {
    font-size: .7rem;
    padding: 5px;
    background-color: #E9E8E3;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.news .news-container .source ul li button:hover {
    cursor: pointer;
}

.news .news-container .source ul li p {
    font-size: .7rem;
    background-color: #E9E8E3;
    padding: 5px;
    margin-top: 5px;
}

.reading-list-full-page {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
}

.reading-list-full-page h3 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    margin-bottom: 40px;
}

.reading-list-full-page .reading-list-container {
    /*    background-color: #F9F8F4;*/
    border: 2px solid #006099;
    border-top: 5px solid #006099;
    border-bottom: 5px solid #006099;
    border-top-left-radius: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 1px;
    margin-bottom: 40px;
}

.reading-list-full-page ol li {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.reading-list-full-page ol li:hover {
    background-color: rgba(0, 0, 0, 0.03);
    color: #0083D0;

}

.reading-list-full-page ol li a {
    font-family: 'Arimo', sans-serif;
}

.reading-list-full-page ol li p {
    font-size: .8rem;
}

.reading-list-full-page ol li i {
    float: right;
    font-size: .6rem;
}

.reading-list-full-page ol li i:hover {
    font-size: 1.2rem;
}

.reading-list-full-page form {
    font-family: 'Arimo', sans-serif;
}

.reading-list-full-page form p {
    font-size: .9rem;
    padding-top: 20px;
    padding-bottom: 5px;
}

.reading-list-full-page form input {
    width: 250px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: .9rem;
    border: 1px solid #A19A8B;
    border-radius: 1px;
}

.reading-list-full-page form button {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #E9E8E3;
    border: 1px solid #A19A8B;
    border-radius: 1px;
}

.index img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

.index {
    width: 100%;
    text-align: center;
    padding-top: 80px;
}

.index h3 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    padding-bottom: 40px;
}

.index #key {
    margin-bottom: 20px;
    font-family: 'Arimo', sans-serif;
}

.index .color-patch-blue,
.index .key-blue p,
.index .color-patch-red,
.index .key-red p {
    display: inline-block;
}

.index .key-blue .color-patch-blue {
    background-color: blue;
    width: 10px;
    height: 10px;
}

.index .key-red .color-patch-red {
    background-color: red;
    width: 10px;
    height: 10px;
}


/*Gauge Start*/

#logo {
    display: inline-block;
    position: relative;
}

#logo .speedometer {
    width: 320px;
    height: 320px;
    border-radius: 100%;
    border-left: 60px solid blue;
    border-top: 60px solid red;
    border-right: 60px solid white;
    border-bottom: 60px solid white;
    -webkit-transform: rotate(45deg);
    display: inline-block;
}

#logo .needle {
    width: 10px;
    height: 160px;
    background: #999999;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    display: inline-block;
    left: 160px;
    position: absolute;
    top: 10px;
    -webkit-animation: move 5s infinite;
    transform: rotate(-30deg);
    transform-origin: bottom;
}

/* @-webkit-keyframes move {
0% {
transform:rotate(-90deg);
}
50% {
transform:rotate(90deg);
}
100% {
transform:rotate(-90deg);
}
} */

/*Gague End*/

footer {
    text-align: center;
    position: relative;
    clear: both;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000765;
    color: #0083D0;
}

footer li {
    display: inline;
    font-size: .85rem;
}

footer li a {
    text-decoration: none;
    color: #0083D0;
    padding-left: 5px;
    padding-right: 5px;
}

footer li a:hover {
    color: #07A0FB;
}
